.DescriptionBox {
    display: flex;
    width: 50vw;
    height: 50vh;
    background-color: #808080;
    opacity: 95%;

@font-face {
    font-family: tandy;
    src: url(../assets/tandy.ttf)
  }
.DescriptionText{
    font-family: tandy;
    font-size: 200%;
    color: ghostwhite;
}
