.KillMiniDetails{
    display: flex;
    background-color: rgb(128, 128, 128, 0.95);
    flex-direction: column;
    box-shadow: 0px 17px 5px 6px rgba(0, 0, 0, 0.75);
    border: 16px double rgb(13, 24, 33);
    padding: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-family: tandy;
    font-size: 30px;
    color: ghostwhite;
    user-select: none;

    @media (max-width: 1250px) {
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
      }
}