body {
  background-repeat: repeat;
  background-image: url("../assets/pattern.png"), linear-gradient(180deg, rgba(42, 168, 242, 1) 0%, rgba(139, 212, 72, 1) 17%, rgba(250, 228, 66, 1) 34%, rgba(251, 169, 73, 1) 53%, rgba(255, 99, 85, 1) 72%, rgba(156, 79, 150, 1) 100%);
}

@font-face {
  font-family: tandy;
  src: url(../assets/tandy.ttf)
}


@font-face {
  font-family: ibm;
  src: url(../assets/ibm.ttf);
}