body {
  background-repeat: repeat;
  background-image: url("../assets/pattern.png"), linear-gradient(180deg, rgb(42, 168, 242) 0%, rgb(139, 212, 72) 17%, rgb(250, 228, 66) 34%, rgb(251, 169, 73) 53%, rgb(255, 99, 85) 72%, rgb(156, 79, 150) 100%);
}

@font-face {
  font-family: tandy;
  src: url(../assets/tandy.ttf);
}
@font-face {
  font-family: ibm;
  src: url(../assets/ibm.ttf);
}
.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 375vh;
  overflow-y: auto;
}

.ContentContainer {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.CenterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.ContentStyleContainer {
  display: flex;
  margin-top: 7rem;
  width: 70%;
  justify-content: space-between;
}
@media (max-width: 1250px) {
  .ContentStyleContainer {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}

.OutputContainer {
  display: flex;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

.KillContainer {
  display: flex;
  margin-top: 7rem;
  width: 80%;
  align-items: flex-start;
  justify-content: space-between;
}

.Socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: black;
}

.Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: black;
  box-shadow: 0px 17px 5px 6px rgba(0, 0, 0, 0.75);
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  z-index: 1;
}

@-webkit-keyframes marqueeAnimLeft {
  from {
    transform: translateY(0) rotate(180deg);
  }
  to {
    transform: translateY(calc(-100% - var(--gap))) rotate(180deg);
  }
}

@keyframes marqueeAnimLeft {
  from {
    transform: translateY(0) rotate(180deg);
  }
  to {
    transform: translateY(calc(-100% - var(--gap))) rotate(180deg);
  }
}
@-webkit-keyframes marqueeAnimRight {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
@keyframes marqueeAnimRight {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
.Marquee {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  justify-content: space-evenly;
  gap: var(--gap);
}

.MarqueeInnerLeft {
  flex-shrink: 0;
  display: flex;
  justify-content: space-evenly;
  min-height: 100%;
  gap: var(--gap);
  -webkit-animation-name: marqueeAnimLeft;
          animation-name: marqueeAnimLeft;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-left: 2rem;
}

.MarqueeInnerRight {
  flex-shrink: 0;
  display: flex;
  justify-content: space-evenly;
  min-height: 100%;
  gap: var(--gap);
  -webkit-animation-name: marqueeAnimRight;
          animation-name: marqueeAnimRight;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-right: 2rem;
}

.SnackerText {
  white-space: nowrap;
  font-family: ibm;
  font-size: 800%;
  color: ghostwhite;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.DescriptionBox {
  display: flex;
  width: 50vw;
  height: 50vh;
  background-color: rgba(128, 128, 128, 0.95);
  opacity: 95%;
  margin-top: 10rem;
  box-shadow: 0px 17px 5px 6px rgba(0, 0, 0, 0.75);
  margin-top: 10rem;
  padding: 2rem;
  border: 16px double black;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.DescriptionText {
  font-family: tandy;
  font-size: 2em;
  color: ghostwhite;
}

.PictureBox {
  display: flex;
  width: 50vw;
  height: 50vh;
  background-color: #808080;
  opacity: 95%;
  box-shadow: 0px 17px 5px 6px rgba(0, 0, 0, 0.75);
  margin-top: 10rem;
  border: 1rem double black;
  padding: 1rem;
  justify-content: center;
}

.PictureBox2 {
  display: flex;
  width: 20rem;
  height: 20rem;
  background-color: rgba(128, 128, 128, 0.95);
  flex-direction: column;
  box-shadow: 0px 17px 5px 6px rgba(0, 0, 0, 0.75);
  border: 16px double black;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.PictureText {
  font-family: tandy;
  font-size: 250%;
  color: ghostwhite;
}

.ImageFix {
  opacity: 100% !important;
  max-width: 100%;
  max-height: 100%;
}

.PictureFrame {
  display: flex;
  width: 90%;
  height: 90%;
  border: 1rem solid black;
}

.PictureBoxHeader {
  font-family: tandy;
  font-size: 200%;
  color: ghostwhite;
}

.KillBox {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 65vh;
  background-color: rgba(128, 128, 128, 0.95);
  opacity: 95%;
  box-shadow: 0px 17px 5px 6px rgba(0, 0, 0, 0.75);
  padding: 1rem;
  border: 16px double black;
  overflow-y: auto;
}

.KillHeader {
  font-family: ibm;
  font-size: 250%;
  margin-bottom: 3rem;
  color: ghostwhite;
  text-align: center;
}

.KillText {
  font-family: tandy;
  font-size: 200%;
  color: ghostwhite;
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*//*# sourceMappingURL=styles.css.map */