body {
  background-repeat: repeat;
  background-image: url("../assets/pattern.png"), linear-gradient(180deg, rgb(42, 168, 242) 0%, rgb(139, 212, 72) 17%, rgb(250, 228, 66) 34%, rgb(251, 169, 73) 53%, rgb(255, 99, 85) 72%, rgb(156, 79, 150) 100%);
}

.Header {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: black;
  box-shadow: 0px 17px 5px 6px rgba(0, 0, 0, 0.75);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  z-index: 1;
}

a {
  color: ghostwhite;
  font-family: tandy;
  font-size: 2em;
  text-decoration: none;
  transition: background 5s;
}

a:hover {
  text-decoration: none;
  -webkit-animation-name: LinkColor;
          animation-name: LinkColor;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes LinkColor {
  0% {
    color: rgb(42, 168, 242);
  }
  25% {
    color: rgb(139, 212, 72);
  }
  40% {
    color: rgb(250, 228, 66);
  }
  55% {
    color: rgb(251, 169, 73);
  }
  70% {
    color: rgb(255, 99, 85);
  }
  85% {
    color: rgb(156, 79, 150);
  }
  100% {
    color: rgb(42, 168, 242);
  }
}

@keyframes LinkColor {
  0% {
    color: rgb(42, 168, 242);
  }
  25% {
    color: rgb(139, 212, 72);
  }
  40% {
    color: rgb(250, 228, 66);
  }
  55% {
    color: rgb(251, 169, 73);
  }
  70% {
    color: rgb(255, 99, 85);
  }
  85% {
    color: rgb(156, 79, 150);
  }
  100% {
    color: rgb(42, 168, 242);
  }
}
.HeaderLinkContainer {
  display: flex;
  gap: 2rem;
  margin-left: 10rem;
}

.ConnectContainer {
  margin-right: 10rem;
}

@font-face {
  font-family: tandy;
  src: url(../assets/tandy.ttf);
}
@font-face {
  font-family: ibm;
  src: url(../assets/ibm.ttf);
}
@font-face {
  font-family: stingray;
  src: url(../assets/stingray.ttf);
}
@font-face {
  font-family: dg;
  src: url(../assets/dg.ttf);
}
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400vh;
  overflow-y: auto;
}

.ContentContainer {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.CenterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.ContentStyleContainer {
  display: flex;
  margin-top: 7rem;
  width: 70%;
  justify-content: space-between;
}
@media (max-width: 1250px) {
  .ContentStyleContainer {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}

.OutputContainer {
  display: flex;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

.KillContainer {
  display: flex;
  margin-top: 7rem;
  width: 80%;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1250px) {
  .KillContainer {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}

.KillDetailsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: black;
}

.Marquee {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  justify-content: space-evenly;
  gap: var(--gap);
  user-select: none;
}

.MarqueeInnerLeft {
  flex-shrink: 0;
  display: flex;
  justify-content: space-evenly;
  min-height: 100%;
  gap: var(--gap);
  -webkit-animation-name: marqueeAnimLeft;
          animation-name: marqueeAnimLeft;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-left: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.MarqueeInnerRight {
  flex-shrink: 0;
  display: flex;
  justify-content: space-evenly;
  min-height: 100%;
  gap: var(--gap);
  -webkit-animation-name: marqueeAnimRight;
          animation-name: marqueeAnimRight;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-right: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.SnackerText {
  white-space: nowrap;
  font-family: ibm;
  font-size: 800%;
  color: ghostwhite;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes marqueeAnimLeft {
  from {
    transform: translateY(0) rotate(180deg);
  }
  to {
    transform: translateY(calc(-100% - var(--gap))) rotate(180deg);
  }
}

@keyframes marqueeAnimLeft {
  from {
    transform: translateY(0) rotate(180deg);
  }
  to {
    transform: translateY(calc(-100% - var(--gap))) rotate(180deg);
  }
}
@-webkit-keyframes marqueeAnimRight {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
@keyframes marqueeAnimRight {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
@keyframes LinkColor {
  0% {
    color: rgb(42, 168, 242);
  }
  25% {
    color: rgb(139, 212, 72);
  }
  40% {
    color: rgb(250, 228, 66);
  }
  55% {
    color: rgb(251, 169, 73);
  }
  70% {
    color: rgb(255, 99, 85);
  }
  85% {
    color: rgb(156, 79, 150);
  }
  100% {
    color: rgb(42, 168, 242);
  }
}
.KillListPage {
  height: 80vh;
}

.KillListHomeContainer {
  height: 75vh;
  width: 85%;
  margin-top: 7rem;
}

.KillList {
  display: flex;
  flex-direction: column;
  background-color: rgba(13, 24, 33, 0.95);
  box-shadow: 0px 17px 5px 6px rgba(0, 0, 0, 0.75);
  padding: 2rem;
  border: 16px double rgb(128, 128, 128);
  height: 100%;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.Snacker {
  height: 100vh;
}

.DescriptionBox {
  display: flex;
  flex-direction: column;
  width: 55vw;
  height: 35rem;
  background-color: rgba(128, 128, 128, 0.95);
  margin-top: 10rem;
  box-shadow: 0px 17px 5px 6px rgba(0, 0, 0, 0.75);
  margin-top: 10rem;
  padding: 2rem;
  border: 16px double rgb(13, 24, 33);
  overflow-y: auto;
  overflow-wrap: break-word;
}

.DescriptionHeader {
  width: 100%;
  text-align: center;
  font-family: dg;
  font-weight: bold;
  color: ghostwhite;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 55px;
  margin-bottom: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.DescriptionText {
  font-family: tandy;
  font-size: 35px;
  color: ghostwhite;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.PictureBox {
  display: flex;
  width: 22rem;
  height: 20rem;
  background-color: rgba(128, 128, 128, 0.95);
  flex-direction: column;
  box-shadow: 0px 17px 5px 6px rgba(0, 0, 0, 0.75);
  border: 16px double rgb(13, 24, 33);
  padding: 2.5rem;
  justify-content: center;
  align-items: center;
}

.ImageFix {
  opacity: 100% !important;
  max-width: 100%;
  max-height: 100%;
}

.PictureFrame {
  display: flex;
  width: 90%;
  height: 90%;
  border: 1rem solid black;
}

.PictureHeader {
  font-family: dg;
  font-size: 32px;
  color: ghostwhite;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-bottom: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.KillDetails {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 35rem;
  background-color: rgba(128, 128, 128, 0.95);
  box-shadow: 0px 17px 5px 6px rgba(0, 0, 0, 0.75);
  padding: 2rem;
  border: 16px double rgb(13, 24, 33);
  overflow-y: auto;
}

.KillDetailsHeader {
  font-family: dg;
  font-size: 55px;
  margin-bottom: 3rem;
  color: ghostwhite;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

.KillDetailsText {
  font-family: tandy;
  font-size: 35px;
  color: ghostwhite;
}

.KillMiniDetails {
  display: flex;
  background-color: rgba(128, 128, 128, 0.95);
  flex-direction: column;
  box-shadow: 0px 17px 5px 6px rgba(0, 0, 0, 0.75);
  border: 16px double rgb(13, 24, 33);
  padding: 2.5rem;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-family: tandy;
  font-size: 30px;
  color: ghostwhite;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 1250px) {
  .KillMiniDetails {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
}

.KillListItem {
  background-color: rgb(128, 128, 128);
  box-shadow: 4px 4px 0px 4px rgb(42, 168, 242);
  height: 5rem;
}

.KillListItem:hover {
  box-shadow: 4px 4px 0px 4px rgb(42, 168, 242);
  -webkit-animation-name: ShadowColor;
          animation-name: ShadowColor;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes ShadowColor {
  0% {
    box-shadow: 4px 4px 0px 4px rgb(42, 168, 242);
  }
  25% {
    box-shadow: 4px 4px 0px 4px rgb(139, 212, 72);
  }
  40% {
    box-shadow: 4px 4px 0px 4px rgb(250, 228, 66);
  }
  55% {
    box-shadow: 4px 4px 0px 4px rgb(251, 169, 73);
  }
  70% {
    box-shadow: 4px 4px 0px 4px rgb(255, 99, 85);
  }
  85% {
    box-shadow: 4px 4px 0px 4px rgb(156, 79, 150);
  }
  100% {
    box-shadow: 4px 4px 0px 4px rgb(42, 168, 242);
  }
}

@keyframes ShadowColor {
  0% {
    box-shadow: 4px 4px 0px 4px rgb(42, 168, 242);
  }
  25% {
    box-shadow: 4px 4px 0px 4px rgb(139, 212, 72);
  }
  40% {
    box-shadow: 4px 4px 0px 4px rgb(250, 228, 66);
  }
  55% {
    box-shadow: 4px 4px 0px 4px rgb(251, 169, 73);
  }
  70% {
    box-shadow: 4px 4px 0px 4px rgb(255, 99, 85);
  }
  85% {
    box-shadow: 4px 4px 0px 4px rgb(156, 79, 150);
  }
  100% {
    box-shadow: 4px 4px 0px 4px rgb(42, 168, 242);
  }
}/*# sourceMappingURL=styles.css.map */